################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Alto_Adventure/Alto_Adventure.VC.VC.opendb
