################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Alto_Adventure/Alto_Adventure.VC.VC.opendb
/Alto_Adventure/ipch/ALTO_ADVENTURE-31f7cecc/ALTO_ADVENTURE-63cbb8a9.ipch
